@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(218, 28%, 13%);
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  font-weight: 400, 700;
}
/*person1*/

/*Ebube*/
.features {
  background-color: hsl(218, 28%, 13%);
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  @font-face {
    font-family: Open Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
  }
  font-weight: 400, 700;
}


main {
  display: flex;
  padding: 6em;
  margin-top: 4em;
  flex-direction: column;
}

#box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

#box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

/*Gracia*/

/*Khadijat*/

/*Person2*/



/*Seyi*/
