body{
  background-color: hsl(218, 28%, 13%);
}

h2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 14;
}

p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11;
}

.ini2{
  color: cadetblue;
  text-decoration-color: cadetblue;
  text-decoration: none;
}

.ini{
border-bottom: 1px solid cadetblue;
width: 140px;
padding-bottom: 3px;
}